# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Uptime Kuma systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ uptime_kuma_identifier }}.service"
  register: uptime_kuma_service_stat

- name: Stop and uninstall Uptime Kuma systemd service
  when: uptime_kuma_service_stat.stat.exists | bool
  block:
    - name: Ensure Uptime Kuma systemd service is stopped
      ansible.builtin.service:
        name: "{{ uptime_kuma_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Uptime Kuma systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ uptime_kuma_identifier }}.service"
        state: absent
